@font-face {
  font-family: "Courgette_19.0.0_google";
  src: url("../../../fonts/Courgette-Regular_19.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Arial Rounded MT Bold_1.51.0_system";
  src: url("../../../fonts/Arial Rounded MT Bold-Bold_1.51.0_system.ttf");
  font-weight: 700; 
  font-display: swap;
}